<turbo-frame id="modal">
  <div class="modal-overlay">
    <div class="modal">
      <%= button_tag "&times;".html_safe, type: "button", class: "modal-close" %>
      <h3>Configure Distributor</h3>
      <%= form_with model: distributor,
            url: distributor_path(distributor),
            method: :patch,
            id: "edit-distributor-form",
            data: { turbo_frame: "_top" } do |f| %>
        <%= f.text_field :username,
              placeholder: "Distributor Name",
              class: "modal-input" %>
      <% end %>
      <div class="modal-actions">
        <%= button_tag "Save", type: "button", class: "modal-btn", onclick: "document.getElementById('edit-distributor-form').requestSubmit()" %>
        <%= button_to "Delete",
              distributor_path(distributor),
              method: :delete,
              form: { data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" } },
              class: "modal-btn" %>
      </div>
    </div>
  </div>
</turbo-frame>