<turbo-frame id="modal-dist-new">
  <div class="modal-overlay">
    <div class="modal">
      <%= button_tag "&times;".html_safe, type: "button", class: "modal-close" %>
      <h3>Add New Distributor</h3>
      <%= form_with model: distributor,
            url: distributors_path,
            method: :post,
            data: { turbo_frame: "_top" } do |f| %>
        <%= f.label :name, "Distributor Name" %>
        <%= f.text_field :name,
              placeholder: "Distributor Name",
              class: "modal-input",
              required: true %>
        <div class="modal-actions">
          <%= f.submit "Save", class: "modal-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>