<turbo-frame id="modal-sku">
  <div class="modal-overlay">
    <div class="modal">
      <%= button_tag "&times;".html_safe, type: "button", class: "modal-close" %>
      <h3>Configure SKU</h3>
      <%= form_with model: sku,
            url: stock_keeping_unit_path(sku),
            method: :patch,
            id: "edit-sku-form",
            data: { turbo_frame: "_top" } do |f| %>
        <%= f.label :product_id, "Product" %>
        <%= f.collection_select :product_id, products, :id, :name, 
              {}, 
              { class: "modal-input" } %>
        
        <%= f.label :distributor_id, "Distributor" %>
        <%= f.collection_select :distributor_id, distributors, :id, :name, 
              {}, 
              { class: "modal-input" } %>
        
        <%= f.label :price, "Price" %>
        <%= f.number_field :price,
              step: 0.01,
              placeholder: "Price",
              class: "modal-input" %>
      <% end %>
      <div class="modal-actions">
        <%= button_tag "Save", type: "button", class: "modal-btn", onclick: "document.getElementById('edit-sku-form').requestSubmit()" %>
        <%= button_to "Delete",
              stock_keeping_unit_path(sku),
              method: :delete,
              form: { data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" } },
              class: "modal-btn" %>
      </div>
    </div>
  </div>
</turbo-frame>