<nav class="navbar">
  <span class="navbar-text">
    Logged in as: <strong><%= @user.username %></strong>
  </span>

  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn-logout" %>
</nav>

<div class="home d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
  <% if @user.is_admin? %>
    <%= link_to "Distributors", distributors_path, class: "btn btn-primary mb-3" %>
    <%= link_to "Orders", orders_path, class: "btn btn-primary mb-3" %>
    <%= link_to "Products", products_path, class: "btn btn-primary mb-3" %>
    <%= link_to "Stock Keeping Units", stock_keeping_units_path, class: "btn btn-primary" %>
    <%= link_to "Users", users_path, class: "btn btn-primary mb-3" %>
  <% else %>
    <p>You are logged in as a distributor.</p>
  <% end %>
</div>